<!DOCTYPE html>
<html>
<head>
  <title>QuickSearchPlaceholderSearcher</title>
  <%= stylesheet_link_tag    "quicksearch_placeholder_searcher/application", media: "all" %>
  <%= javascript_include_tag "quicksearch_placeholder_searcher/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
